@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --fonte-padrao: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    --fonte-especial: 'Open Sans', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: var(--fonte-padrao);
}

body {
    background-color: white;
    background-size: cover;
    
}

.conteudo {
    box-shadow: inset 0 5px 15px 4px rgba(0, 0, 0, 0.212);
}

.cabecalho {
    padding: 30px;
    padding-left: 45px;
    display: flex;
    justify-content: space-between;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.192);   
    background-color: #369090;
    color: white;
    
}

h2 {
    font-size: 3em;
    padding: 50px;
    padding-bottom: 30px;
    
}

#resumo {
    font-size: 1.6em;
    padding-left: 45px;
   
    
}

#conteudo {
    display: flex;
    
}

#projetos a {
    display: flex;
    padding-left: 45px;
    color: white;
    background-color: #369090;
    text-align: center;
    padding: 15px 200px;
    font-size: 1.8em;
    border-radius: 10px;
}



.rodape {
    color: white;
    background-color: #1b4949;
    padding: 10px 30px;
    font-size: 0.9em;
}

